{% extends 'base.html.twig' %}

{% block body %}
    <h1>TwigLab</h1>
    <p>This is a project to practice about twig ... and symfony of course ^^.</p>
    <i>{{ 'now'|date('d m Y') }}</i>
    <hr>

    <b>Random posts</b>: {{ random(posts) }}

    {% for post in posts %}
        <br>{{ post.title }}
    {% endfor %}

    {{ include ('_footer.html.twig', {'bar':'foo'}) }}
    {# include ('_footer.html.twig') #}
{% endblock %}
